extends layout

block content
  if current.file_name
    h1 Current upload
    p=current.file_name
  
  if queue.length
    h1 Queue
    each val in queue
      p= val.file_name

  h1 Uploaded
  each val in uploaded
    p= val.file_name
